
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.margin-0 {
  margin: 0 !important;
}

.padding-0 {
  padding: 0 !important;
}

ul {
  padding-left: 0;
}

li:hover {
  background-color: rgba($color: #000000, $alpha: 0.1);
  cursor: pointer;
}

p {
  word-wrap: break-word;
}

input[type="button"] {
  margin-right: 10px;
  margin-top: 10px;
}

input[type="submit"] {
  margin: 10px 0 20px;
}

#no-user-reviews:hover {
  background: #fff;
  cursor: initial;
}

@media screen and (max-width: '768px') {
  .reorder-xs {
    display: inline-block;
    transform: rotate(180deg);
  }

  .reorder-xs > [class*= "col-"] {
    transform: rotate(-180deg);
  }
}

@media screen and (min-width: '768px') {
  #all-reviews {
    position: absolute;
    top: 110px;
  }
}